<% provide(:title, "About") %>
<div class="about-header about-header-image project-topic"></div>
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <div class="box-text-big" style="padding-bottom: 0px">
                <h3 class="project-topic text-center" style="margin-top: 5px">- About -</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box-text-big" style="border-right: solid  #66615b 0.75px ">
                <h3 class="project-topic text-center" style="margin-top: 5px">Lost & Found</h3>
                <h5 class="text-center title-thai">รายชื่อสมาชิก</h5>
                <div class="text-center">
                    <p style="line-height: 2em;">
                            นาย จีระวัฒน์ หนักแน่น 5710450031<br>
                            นาย ธีระพล ไวยนิยี 5810613413<br>
                            นางสาว ศิริรัตน์ บุณยัษเฐียร 5910490035<br>
                            นาย ภูริณัฐ ธรรมราช 5910613347
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-text-big">
                <h3 class="project-topic text-center" style="margin-top: 5px">Document</h3>
                <div class="row " style="padding-top: 20px">
                    <div class="col-md-1"></div>
                    <div class="col-md-5"><p>
                        <a href="https://drive.google.com/file/d/1VLooRiRulXW0MOmTysG1FS6iJ3AfDUw6/view?usp=sharing"><font style="color:#009688"><i class="fas fa-file-download"></i> ไฟล์ข้อเสนอ</font></a><br><br>
                        <a href="https://drive.google.com/file/d/1pjOzTfpvp7dKZLYRqMK_6GSUnULH1knG/view?usp=sharing"><font style="color:#009688"><i class="fas fa-file-download"></i> Feature</font></a><br><br>
                        <a href="https://drive.google.com/file/d/1hjHIndbGaFgm-b_KXnI_CpE768Ia8OoX/view?usp=sharing"><font style="color:#009688"><i class="fas fa-file-download"></i> Storyboard</font></a></p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5"><p>
                        <a href="https://drive.google.com/file/d/1ME-yGoZ0cqnUxqGe1vyvYMXLv-JT1EIx/view?usp=sharing"><font style="color:#009688"><i class="fas fa-file-download"></i> Requirements</font></a><br><br>
                        <a href="https://drive.google.com/file/d/13EmmlDJLRjeC1S0Qshjd9HQmjJdwAAgB/view?usp=sharing"><font style="color:#009688"><i class="fas fa-file-download"></i> ER-Diagram</font></a></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class=col-md-12>
            <div class="box-text-big head-topic text-center" style="margin-top: 40px">
                <h4 class="project-topic">- Link -</h4><hr>
                <button class="button-link" onclick="window.location.href='https://www.pivotaltracker.com/n/projects/2223207'">Privotal Tracker</button>
                <button class="button-link" onclick="window.location.href='https://bitbucket.org/5810613413/testproject/src/poo'">Bitbucket Repository</button>
                <button class="button-link" onclick="window.location.href='https://www.youtube.com/playlist?list=PLzpL1Z_aTGhnyfyl9JVa5z6g_YcMGBL4j'">Youtube</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=col-md-12>
            <div class="box-text-big head-topic text-center" style="margin-top: 40px">
                <h4 class="project-topic">- Poster -</h4><hr>
                <image src="/assets/poster.jpg", width="800">
            </div>
        </div>
    </div>
</div>
