<% provide(:title, "Log in") %>

<%= form_for(:session, url: login_path) do |f| %>
<div class="row" style="padding-bottom: 10px">
    <div class="col-md-12">
      <div class="row row-form">
        <div class="col-md-3 text-right project-topic">
          <%= f.label :username %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :username , class: 'form-control' %>
        </div>
        <div class="col-md-2"></div>
      </div>
      
      <div class="row row-form">
          <div class="col-md-3 text-right project-topic">
            <%= f.label :password %>
          </div>
          <div class="col-md-7">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="col-md-2"></div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>