<div class="about-header about-header-image project-topic"></div>
<% if logged_in? === false %>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom:20px">- Login -</h3>
                <p id="notice"><%= notice %></p>
                    <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
<% else %>
    <div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 20px;margin-bottom:40px">- Login Successful -</h3>
            </div>
        </div>
    </div>
</div>
<% end %>