<% provide(:title, "New Inform") %>
<div class="form-group">
  <%= form_with(model: inform, local: true) do |form| %>
    <% if inform.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(inform.errors.count, "error") %> prohibited this inform from being saved:</h2>
  
        <ul>
        <% inform.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.hidden_field :user_id, id: :inform_user_id,value: current_user.id %>
    <div class="row">
      <div class="col-lg-12">
        <!--1-->
        <div class="row row-form">
          <div class="col-lg-2 project-topic">
            <%= form.label :item_name %>
          </div>
          <div class="col-lg-4">
            <%= form.text_field :item_name, id: :inform_item_name, class: 'form-control', placeholder: "- Fill your item name -"%>
          </div>
          <div class="col-lg-2 project-topic">
            <%= form.label :date %>
          </div>
          <div class="col-lg-4">
            <%= form.text_field :date, id: :inform_date, class: 'form-control', placeholder: " Example: yyyymmdd " %>
          </div>
        </div>  
        <!--2-->
        <div class="row row-form">
          <div class="col-lg-2 project-topic">
            <%= form.label :location %>
          </div>
          <div class="col-lg-4 project-topic">
            <%= form.text_field :location, id: :inform_location, class: 'form-control', placeholder: "- Fill your lost/found location -" %>
          </div>
          <div class="col-lg-2 project-topic">
            <%= form.label :contact %>
          </div>
          <div class="col-lg-4">
            <%= form.text_field :contact, id: :inform_contact, class: 'form-control', placeholder: "- Fill your contact -", value: current_user.contact  %>
          </div>
        </div> 
        <!--3-->
        <div class="row row-form">
          <div class="col-lg-2 project-topic">
            <%= form.label :pic_url %>
          </div>
          <div class="col-lg-4">
            <%= form.text_field :pic_url, id: :inform_pic_url, class: 'form-control', placeholder: "- Fill url of your picture -" %>
          </div>
          <div class="col-lg-2 project-topic">
            <%= form.label :inform_type %>
          </div>
          <div class="col-lg-2">
            <%= form.select(:inform_type, options_for_select([ ['found', "found"], ['lost', "lost"]] ), {}, {:class => 'form-control' })  %>
          </div>
        </div> 
        <!--4-->
        <div class="row row-form">
          <div class="col-lg-2 project-topic">
            <%= form.label :detail %>
          </div>
          <div class="col-lg-10">
            <%= form.text_field :detail, id: :inform_detail, class: 'form-control', placeholder: "- Fill your item detail -" %>
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <%= form.submit "Reset" ,class: 'button-link'%>
        </div>
        <div class="col-md-6 text-left">
            <%= form.submit "Create" , class: 'button-link' %>
        </div>        
    </div>
    
  <% end %>

</div>