<div class="about-header about-header-image project-topic"></div>
<% provide(:title, "Edit Inform") %>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom: 20px">- Editing Inform -</h3>
                    <%= render 'form', inform: @inform %>
            </div>
        </div>
    </div>
</div>