<% provide(:title, "Home") %>
<div class="about-header about-header-image project-topic"></div>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom: 20px">- All Informs -</h3>
                
                <!--Example color-->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <!--lost color-->
                    <div class="col-lg-1 col-md-1 col-sm-1 example-color" style="background-color: #fdcb6e;">
                    </div>
                    <!--lost text-->
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <p id="example-text">Lost item</p>
                    </div>
                    <div class="col-lg-2 col-sm-1 col-md-1"></div>
                    <!--found color-->
                    <div class="col-lg-1 col-md-1 col-sm-1 example-color" style="background-color: #92c8e9;">
                    </div>
                    <!--found text-->
                    <div class="col-lg-2 col-md-1 col-sm-3">
                        <p id="example-text">Found item</p>
                    </div>
                    <div class="col-lg-2 col-sm-1 col-md-1"></div>
                </div>
                
                <!--for use text-->
                
                <p class="project-topic" id="see-more-text">- You can click on item to see more -</p>
                     <div class="row">
                        <% @informs.each do |inform| %>
                        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                        <%= link_to inform do %>
                        <div class="wrapper animated fadeIn">
                          <div class="item-img">
                              <img src="<%= inform.pic_url%>" , height="200", width="200">
                          </div>
                          <div class="item-info">
                            <div class="item-text">
                                
                                <% if inform.inform_type == "lost" %> 
                                    <h1 class="project-topic lost-header"><%= inform.item_name %></h1>
                                    <div class="line-lost-header"></div>
                                <% else %>
                                    <h1 class="project-topic found-header"><%= inform.item_name %></h1>
                                    <div class="line-found-header"></div>
                                <% end %>
                               
                              <div class="row">
                                <div class="col-lg-12 col-sm-12 text-left">
                                    <p>location : <%= inform.location %></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-sm-12 text-left">
                                    <p>Date : <%= inform.date %></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-sm-12 text-left">
                                    <p>Contact : <%= inform.contact %></p>
                                </div>
                              </div> 
                            </div>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
