<% provide(:title, "Lost Items") %>
<div class="about-header about-header-image project-topic"></div>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom: 20px">- Lost Item Informs -</h3>
                     <p class="project-topic" id="see-more-text">- You can click on item to see more -</p>
                     <div class="row">
                        <% @informs.each do |inform| %>
                        <div class="col-lg-6 col-md-12 col-xs-12 text-center">
                        <%= link_to inform do %>
                        <div class="wrapper animated fadeIn">
                          <div class="item-img">
                              <img src="<%= inform.pic_url%>" , height="200", width="200">
                          </div>
                          <div class="item-info">
                            <div class="item-text">
                              <h1 class="project-topic lost-header "><%= inform.item_name %></h1>
                              <div class="line-lost-header"></div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <p>location : <%= inform.location %></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <p>Date : <%= inform.date %></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <p>Contact : <%= inform.contact %></p>
                                </div>
                              </div> 
                            </div>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
