<% provide(:title, @inform.item_name) %>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom: 20px">- Item Information -</h3>
                <div class="row">
                  <div class="col-lg-12">
                  <p id="notice"><%= notice %></p>
                      <img class="img-wrapper" src="<%= @inform.pic_url%>" , height="350", style="padding: 10px">
                  
                    <!--1-->
                    <div class="row row-form">
                      <div class="col-lg-2 col-sm-3 project-topic label-box">
                        <p>Item Name : </p>
                      </div>
                      <div class="col-lg-4 col-sm-3 show-box dt-wrapper">
                        <p><%= @inform.item_name %><p>
                      </div>
                      <div class="col-lg-2 col-sm-3 project-topic label-box">
                        <p>Date : </p>
                      </div>
                      <div class="col-lg-4 col-sm-3 show-box dt-wrapper">
                        <p><%= @inform.date %></p>
                      </div>
                    </div>  
                    <!--2-->
                    <div class="row row-form">
                      <div class="col-lg-2 col-sm-3 label-box">  
                        <p>Location : </p>
                      </div>
                      <div class="col-lg-4 col-sm-3 show-box dt-wrapper">
                        <p><%= @inform.location %></p>
                      </div>
                      <div class="col-lg-2 col-sm-3  label-box">
                        <p>Contact : </p>
                      </div>
                      <div class="col-lg-4 col-sm-3 show-box dt-wrapper">
                        <p><%= @inform.contact %></p> 
                      </div>
                    </div>  
                    <!--3-->
                    <div class="row row-form">
                      <div class="col-lg-2 col-sm-3 label-box">
                        <p>Detail : </p>
                      </div>
                      <div class="col-lg-4 col-sm-3 show-box dt-wrapper">
                        <p><%= @inform.detail %></p>
                      </div>
                      <div class="col-lg-2 col-sm-3 label-box">
                        <p>Type : </p>
                      </div>
                      <div class="col-lg-2 col-sm-3 show-box dt-wrapper"> 
                        <p><%= @inform.inform_type %></p>
                      </div>
                    </div> 
      
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>






    