<% provide(:title, "Sign up") %>
<%= form_for(@user) do |f| %>
    <div class="row row-form">
        <div class="col-md-3 project-topic text-right">
            <%= f.label :username %>
        </div>
        <div class="col-md-6">
            <%= f.text_field :username , class: 'form-control', placeholder: "- Fill your username -" %>
        </div>
    </div>
    <div class="row row-form">
        <div class="col-md-3 project-topic text-right">
            <%= f.label :password %>
        </div>
        <div class="col-md-6">
            <%= f.password_field :password , class: 'form-control', placeholder: "- Fill your password - / minimum 6 character" %>
        </div>
    </div>
    <div class="row row-form">
        <div class="col-md-3 project-topic text-right">      
            <%= f.label :password_confirmation %>
        </div>
        <div class="col-md-6">
            <%= f.password_field :password_confirmation , class: 'form-control' , placeholder: "- Fill your password confirmation as your password -" %>
        </div>
    </div>
    <div class="row row-form">
        <div class="col-md-3 project-topic text-right">          
            <%= f.label :contact %>
        </div>
        <div class="col-md-6">
            <%= f.text_field :contact , class: 'form-control', placeholder: "- Fill your conttact such as line or facebook -" %>
        </div>
    </div>
    <div class="row row-form">
        <div class="col-md-3 project-topic text-right">            
            <%= f.label :tel_number %>
        </div>
        <div class="col-md-6">
            <%= f.text_field :tel_number, class: 'form-control', placeholder: "- Fill your telephone number 10 digit -"  %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <%= f.submit "Reset" ,class: 'button-link'%>
        </div>
        <div class="col-md-6 text-left">
            <%= f.submit "Create" , class: 'button-link' %>
        </div>        
    </div>
<% end %>