<div class="about-header about-header-image project-topic"></div>
<div class="container">    
    <div class="box-text-big">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="project-topic" style="margin-top: 5px;margin-bottom: 20px">- Informs -</h3>
                    <p id="notice"><%= notice %></p>
                      <table>
                        <thead>
                          <tr>
                            <th>Item name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Type</th>
                            <th colspan="3">Operation</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @informs.each do |inform| %>
                            <tr>
                              <td><%= inform.item_name %></td>
                              <td><%= inform.date %></td>
                              <td><%= inform.location %></td>
                              <td><%= inform.inform_type %></td>
                              <td><%= link_to 'Show', inform %></td>
                              <td><%= link_to 'Edit', edit_inform_path(inform) %></td>
                              <td><%= link_to 'Destroy', inform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    <br>
                <%= link_to 'New Inform', new_inform_path ,class: "button-link" %>
            </div>
        </div>
    </div>
</div>