.about-header {
    background-size: cover;
    background-color: white;
    background-position: top center;
    margin-top: -100px;
    min-height: 500px;
}
.about-header-image{
    background-image: url('https://sv1.picz.in.th/images/2018/11/20/3jpqqW.jpg');
}
body {
  margin: 0;
  font-size: 28px;
  background-color: #EEE;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.title-name{
  float: left;
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  padding: 12px 15px;
  margin-left: 40px;
  margin-bottom:0px;
}

#navbar {
  overflow: hidden;
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.07);
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Quantico', sans-serif;
}

#navbar a:hover {
  background-color: #D9A380;
  color: #FFF9E0;
}

#navbar a.active {
  background-color: #C08485;
  color: #FFF9E0;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
    font-family: 'Quantico', sans-serif;
}
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.card {
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(117,117,117,.25);
    padding: 20px;
}
.cardbox{
    margin: 20px;
    padding: 5px;
    background-color: #F3F7DF;
    margin-top: 3px;
    margin-bottom: 3px;
}
.head-topic h4{
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
}
.head-topic a{
  text-align: center;
}
.project-topic{
  font-family: 'Quantico', sans-serif;
}
.project-topic label{
  font-family: 'Quantico', sans-serif;
  margin-top: 12px;
  
}
.head-topic p{
  line-height: 1.8em;
}
.section-box{
  margin-top: 20px;
}
.row-box{
  background-color: #C08485;
  border-radius: 5px;
}
.text-box{
  margin-left:10px;
}

.button-link {
  background-color: #009688;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {opacity: 1}

.row-form{
  margin: 15px;
}
.row-form p{
  margin:7px;
}

#footer-navbar{
  overflow: hidden;
  background-color: #f7dbda;
  position: relative;
  display:block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-text-big{
  padding: 0px 50px 15px 50px;
  margin: 50px 0px 0px 0px;
}

.title-thai{
    font-size: 20px;
}

.show-box {
  background-color: white;
  border-radius: 7px;
  margin-bottom:auto;
}

.label-box{
  text-align: right;
  color:black;
}



.wrapper {
  height: 200px;
  width: 475px;
  margin: 20px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

}
.wrapper:hover { transform: scale(1.05); }

.img-wrapper {
  margin-bottom: 30px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}
.dt-wrapper {
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.19);

}

.item-img {
  float: left;
  height: 200px;
  width: 200px;
}
.item-img img {
  border-radius: 7px 0 0 7px;
}
.item-info {
  float: left;
  height: 200px;
  width: 275px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.item-text {
  height: 200px;
  width: 275px;
  overflow: hidden;
}

.item-text h1 {
  margin: 0 0 0 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: #474747;
  border-radius: 0 7px 0px 0px;
  overflow: hidden;
}


.item-text p {
  height: 30px;
  margin: 10px 0 0 20px;
  color: #8d8d8d;
  line-height: 1.25em;
  font-size: 15px;
  font-weight: lighter;
  float:left;
  font-family: 'Quantico', sans-serif;
  overflow: hidden;
}

.lost-header {
  background-color: #fdcb6e;
}
.line-lost-header{
  margin-top:3px;
  border-bottom: solid 2px #fdcb6e;
}

.found-header {
  background-color: #92c8e9;
}
.line-found-header{
  margin-top:3px;
  border-bottom: solid 2px #92c8e9;
}



table {
  border-collapse: collapse;
  width: 100%;
  background-color:white;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}
tr td{
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}
tr th{
  background-color: #f0f0f0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #74b9ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #fab1a0;
}

.example-color{
  margin-bottom: 20px;
   height: 25px;
  border-right: solid 10px white;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
}
#example-text {
  font-family: 'Quantico', sans-serif;
  font-size:18px;
}
#see-more-text{
  margin-top: 20px;
}