body {

}

p, ol, ul, td {

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #ff7979;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #ff7979;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: relative;
  left: 27%;
  text-align: center;
  
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #ff7979;
    color: #fff;
    border-radius: 2px;
  }

  ul {
    margin-top: 5px;
  }
  ul li {
    font-size: 15px;
    list-style: square;
  }
}

label {
  display: block;
}
