<div id="navbar">
    <b><p class="title-name"><i class="fas fa-box-open"></i> Lost&Found</p></b>
    <% if logged_in? %>
        <%= link_to "Logout" , logout_path, :method => :delete %>
        <%= link_to "About" , about_path %>
        <%= link_to "Profile", current_user %>
        <%= link_to "Edit inform" , edit_path %>
        <%= link_to "Inform" , new_inform_path %>
    <% else %>
        <%= link_to "Login" , login_path %>
        <%= link_to "About" , about_path %>
    <% end %>
    <%= link_to "Found Items" , founds_path %>
    <%= link_to "Lost Items" , losts_path %> 
    <%= link_to "Home" , root_path %> 
</div>


